* {
 box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--body-font);
  background-image: url(https://4kwallpapers.com/images/wallpapers/macos-big-sur-apple-layers-fluidic-colorful-dark-wwdc-2020-5120x2880-1432.jpg);
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
          width: 100%;
          height: 100vh;
      font-family: 'Open Sans', sans-serif;

}

@media screen and (max-width: 480px) {
  body {
    padding: 0.8em;
  }
}
/* /////////////////////////////NAVIGATION///////////////////////////////////*/


.cabecalho {
  height: 80px;
  border-radius: 0px;
  background: linear-gradient(225deg, #ffffff, #dadada);
}
.logo {
  display: inline-block;
  height: 80px;
  padding: 15px;
}
.logo img{
  height: 100%;
}
.menu{
  display: inline-block;
  vertical-align: top;
  height: 80px;
  padding: 25px;

}
.menu ul{
  margin: 0;
  padding: 0;
}
.menu li{
  display: inline-block;
}
.cabecalho a {
  text-transform: uppercase;
  list-style-type: none;
  z-index: 1;
  background-color: transparent;
  position: relative;
  display: inline-block;
  font-size: 16px;
  padding: 15px 40px;
  color: #513A50;
  text-decoration: none;
  border: solid 1px #000000;
  box-shadow: 5px 5px 0  -5px #837765;
  transition: .3s;
   overflow: hidden;
  text-transform: uppercase;
  letter-spacing: 2px;
  bottom: 20px;
  margin: 10px;
}
a:before {
  display: inline-block;
  transition: bottom, 0.35s;
  position: absolute;
  transform: skew(-50deg);
  top: 0px;
  left: 260px;
  background-color: #ff7a7a;
  content: "　";
  width: 220px;
  height: 120px;
  z-index: -1;
}

a:hover {
   box-shadow: 0px 0px 0  0px #ffCA7A;
}

a:hover:before {
  top: -40px;
  left: -40px;
}
.menu a {
  padding: 15px 30px;
}
.autenticacao {
  float: right;
  height: 80px;
  padding: 25px;
}
@media(min-width: 679px) {
  .menu-togle {
    display: none;
  }
}
@media(max-width: 300px) {
  .menu {
    display: none;
  }
}
@media(max-width: 910px) {
  .autenticacao {
    display: none;
  }
}
 .cabecalho{
     display: flex;
     align-items: center;
     justify-content: space-between;
 }
 .menu{
     flex-grow: 10;
 }

 .menu ul{
     display: flex;
 }

 .menu li {
     margin: 0px 10px;
 }
 

/* /////////////////////////////INMAGE///////////////////////////////////*/
.bg2 {
  font-family: var(--body-font);
  background-image: url(https://4kwallpapers.com/images/wallpapers/macos-big-sur-apple-layers-fluidic-colorful-dark-wwdc-2020-5120x2880-1432.jpg);
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2em;
  width: 100%;
  height: 100vh;
}

@media screen and (max-width: 480px) {
  .bg2 {
    padding: 0.8em;
  }
}

/* /////////////////////////////LOGIN1///////////////////////////////////*/
.form-container form{
  position: relative;
  top: 80px;
  right: 80px;
  float: right;
  width: 20%;
  padding: 10px 10px;
  border-radius: 60px;
  background: #f4f1f1;

}
.form-container form p input {
  position: relative;
  left: 77%;
  margin: 0;
}
.form-container form input[type=text] {
  width: 100%;
  border: 1px solid #ccc;
  height: 40px;
  line-height: 40px;
  padding-left: 10px;
  font-size: 10px;
  border-radius: 10px;
}
.form-container form input[type=submit] {
  text-transform: uppercase;
  width: 100%;
  font-size: 13px;
  height: 3rem;
  cursor: pointer;
  border: 0;
  color: white;
  line-height: 40px;
  background-color: #033C50;
  border-radius: 10px;
}
.form-container p {
  margin:5px;
}
/* /////////////////////////////LOGIN2///////////////////////////////////*/
.form-wraper {
  margin-top: 10px;
  background-color: transparent;
  color: #000000;
  padding: 10px 30px 40px;
  font-size: 13px;
  cursor: pointer;
  border-radius: 20px;
}

/* /////////////////////////////Footer///////////////////////////////////*/
/*# sourceMappingURL=style.css.map */